[SddmGreeterTheme]
Name=NixOS
Name[ar]=NixOS
Name[bs]=NixOS
Name[ca]=NixOS
Name[ca@valencia]=NixOS
Name[cs]=NixOS
Name[da]=NixOS
Name[de]=NixOS
Name[el]=NixOS
Name[en_GB]=NixOS
Name[es]=NixOS
Name[et]=NixOS
Name[eu]=NixOS
Name[fi]=NixOS
Name[fr]=NixOS
Name[gl]=NixOS
Name[hu]=NixOS
Name[id]=NixOS
Name[is]=NixOS
Name[it]=NixOS
Name[ja]=NixOS
Name[ko]=NixOS
Name[lt]=NixOS
Name[nb]=NixOS
Name[nds]=NixOS
Name[nl]=NixOS
Name[nn]=NixOS
Name[pa]=NixOS
Name[pl]=NixOS
Name[pt]=NixOS
Name[pt_BR]=NixOS
Name[ru]=NixOS
Name[sk]=NixOS
Name[sl]=NixOS
Name[sr]=NixOS
Name[sr@ijekavian]=NixOS
Name[sr@ijekavianlatin]=NixOS
Name[sr@latin]=NixOS
Name[sv]=NixOS
Name[tr]=NixOS
Name[uk]=NixOS
Name[x-test]=xxNixOSxx
Name[zh_CN]=NixOS
Name[zh_TW]=NixOS
Description=NixOS Theme
Description[ar]=NixOS
Description[bs]=NixOS Tema
Description[ca]=Tema NixOS
Description[ca@valencia]=Tema NixOS
Description[cs]=Motiv NixOS
Description[da]=NixOS-temaet
Description[de]=NixOS-Design
Description[el]=Θέμα NixOS
Description[en_GB]=NixOS Theme
Description[es]=Tema NixOS
Description[et]=NixOS teema
Description[eu]=NixOS gaia
Description[fi]=NixOS-teema
Description[fr]=Thème NixOS
Description[gl]=Tema NixOS
Description[he]=ערכת הנושא NixOS
Description[hu]=NixOS téma
Description[id]=Tema NixOS
Description[is]=NixOS þema
Description[it]=Tema Brezza
Description[ja]=NixOS テーマ
Description[ko]=NixOS 테마
Description[lt]=NixOS apipavidalinimas
Description[nb]=NixOS-tema
Description[nds]=NixOS-Muster
Description[nl]=Thema NixOS
Description[nn]=NixOS-tema
Description[pa]=NixOS
Description[pl]=Wystrój NixOS
Description[pt]=Tema NixOS
Description[pt_BR]=Tema NixOS
Description[ru]=Тема «NixOS»
Description[sk]=Téma NixOS
Description[sl]=Tema NixOS
Description[sr]=Тема NixOS
Description[sr@ijekavian]=Тема NixOS
Description[sr@ijekavianlatin]=Tema NixOS
Description[sr@latin]=Tema NixOS
Description[sv]=NixOS-tema
Description[tr]=NixOS Teması
Description[uk]=Тема «NixOS»
Description[x-test]=xxNixOS Themexx
Description[zh_CN]=NixOS
Description[zh_TW]=NixOS
Author=Marian Alexander Arlt
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=marianarlt@icloud.com
Theme-Id=nixos
Theme-API=2.0
